




@charset "utf-8";
/* CSS Document */
div.pager{
	text-align:center;
	background:#F5F5F5; 
	width:90%;
}
div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background:#F5F5F5;
     margin-right: 0.5em;
}

div.pager span.active {
    background:#5fbf00;
}

